<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrink Route</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="images/link-icon.svg">
</head>

<body>
    <header>
        <img src="images/url-img.svg" alt="url-img">
        <h1 id="header" onclick="window.location.href='/'">Shrink Route</h1>
        <img src="images/url-img.svg" alt="url-img">
    </header>

    <div id="container">
        <form action="/shrinkRoute" method="post">
            <label for="url" id="url-label">Route:</label>
            <input type="text" name="url" id="url" placeholder="https://example.com">
            <input type="submit" value="Get" id="url-btn">
        </form>
        <% if(locals.linkValid==true){ %>
            <div id="shrinkedLink">
                <h2 id="result-text">Shrinked Route:&nbsp;</h2>
                <h2 id="result-link" onclick="copyText()"> &nbsp; <%= shrinkedLink %>
                </h2>
            </div>
            <span id="copy-link-text">Click on link to copy to clipboard</span>
            </h2>
            <% }else if(locals.linkValid==false){ %>
                <h2 id="invalid-link">Invalid Link</h2>
                <% } %>

                    <h3 id="success" class="hidden">Link Copied</h3>
                    <h3 id="fail" class="hidden">Failed to copy link</h3>
    </div>

    <footer>
        <h3>&copy;<%= new Date().getFullYear() %> <a href="https://lakshaygoyal-lg.github.io/capstone-v1/">Lakshay
                    Goyal</a> </h3>
    </footer>

    <script>
        function copyText() {
            const text = document.querySelector("#result-link").textContent;
            navigator.clipboard.writeText(text)
                .then(() => {
                    document.querySelector("#success").classList.remove("hidden");
                    setTimeout(() => {
                        document.querySelector("#success").classList.add("hidden");
                    }, 2000);
                })
                .catch((err) => {
                    document.querySelector("#fail").classList.remove("hidden");
                    setTimeout(() => {
                        document.querySelector("#fail").classList.add("hidden");
                    }, 2000);
                });
        }

    </script>
</body>

</html>