@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(41, 41, 41);
    color: whitesmoke;
    text-align: center;
    font-family: "Space Mono";
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 280px;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
}

a {
    color: rgb(225, 225, 39);
    text-decoration: none;
}

a:hover {
    color: rgb(95, 225, 39);
    text-decoration: underline;
}

header img {
    height: 2rem;
    width: 15%;
}

header h1 {
    font-family: "Sixtyfour";
    width: 70%;
}

footer {
    padding: 1rem 0;
    background-color: rgb(41, 41, 41);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}


::selection {
    background-color: rgb(255, 107, 15);
}



.hidden {
    display: none;
}


#container {
    height: 100%;
    background-color: black;
    width: 99%;
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#header{
    cursor: pointer;
}

#url-label {
    font-size: 2rem;
}

#url {
    width: 90%;
    font-size: larger;
    padding: 0.5rem;
}

#url-btn {
    padding: 0.5rem;
    width: 90%;
    font-size: larger;
}

#invalid-link {
    background-color: red;
}

#shrinkedLink {
    display: flex;
    word-break: break-all;
    white-space: normal;
    overflow-wrap: break-word;
}

#result-text {
    background-color: rgb(0, 172, 0);
}

#result-link {
    background-color: rgb(0, 124, 173);
}

#result-link:hover{
    background-color: rgb(0, 6, 173);
    
}

#result-link:active{
    background-color: rgb(127, 0, 173);
}

#success {
    padding: 1rem;
    background-color: #9929EA;
}

#fail {
    background-color: red;
    padding: 1rem;
}

#copy-link-text {
    font-size: 1rem;
}


@media(min-width:375px) {
    header img {
        height: 3rem;
    }
}

@media(min-width:768px) {
    header {
        flex-direction: row;
        gap: 2rem;
    }

    header img {
        height: 4rem;
        width: fit-content;
    }

    header h1 {
        width: fit-content;
    }

    form {
        flex-direction: row;
    }

    #url-label {
        width: 20%;
    }

    #url {
        width: 60%;
        padding: 1rem;
    }

    #url-btn {
        width: 20%;
        padding: 1rem;
    }
}

@media(min-width:1024px) {
    #url-label {
        width: 15%;
    }

    #url {
        width: 70%;
    }

    #url-btn {
        width: 15%;
    }

}